body{
    background-color:black;
    color: aqua;
}
img{
width: 200px;
display: flex;

justify-content: center;
}
.types {
    
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.secondPlace {
    display: none;
}
.thirdplace1{
    display: none;
}
.thirdplace2{
    display: none;
}
.Traps{
display: none;
}
.Death{
    display: none;
}
.winning{
    display: none;
}






